@page "/"
@using S5A01_BlazorClient_v0.Interop
@inject TestInterop TestInterop

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick=OnButtonClick>Call alert</button>

@code{
    private async Task OnButtonClick(){
        await TestInterop.Alert("This is an alert called from pure C# !");
    }
}